* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Bebas Neue';
  src: url(assets/fonts/BebasNeue-Regular.ttf); }

body {
  background-color: #fafafa; }

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 25px 100px;
  background-color: rgba(250, 250, 250, 0.95);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.logo-navegador {
  height: 110px;
  width: 110px; }

.mi-navegador {
  display: flex;
  justify-content: flex-end; }
  .mi-navegador .mi-width {
    width: max-content !important; }

.desplegable {
  position: absolute;
  top: 50;
  right: 0;
  background-color: #fafafa; }

.mis-items {
  padding: 5px 10px; }

.mis-links {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 13pt;
  letter-spacing: 3pt;
  color: #243746 !important;
  text-align: center;
  padding: 5px 3px 3px 7px !important;
  margin: 10px 0px; }
  .mis-links:hover {
    background-color: #f3e500; }

.submenu {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 11.5pt;
  letter-spacing: 3pt;
  color: #243746 !important;
  text-align: center;
  padding: 5px !important; }
  .submenu:hover {
    background-color: #f3e500; }

.submenu-todo {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 11pt;
  letter-spacing: 3pt;
  color: #243746 !important;
  text-align: center;
  padding: 5px !important; }
  .submenu-todo:hover {
    background-color: #f3e500; }

#nosotros {
  padding-top: 200px;
  display: flex;
  flex-direction: column; }

h2 {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 50pt;
  letter-spacing: 7pt;
  color: #243746;
  border-left: solid #f3e500 85px;
  padding-top: 5px;
  padding-left: 15px; }

h3 {
  font-family: "Averia Serif Libre";
  font-weight: 400;
  font-size: 22pt;
  color: #243746;
  margin-top: 20px;
  margin-left: 100px; }
  h3 .subrayado {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #f3e500;
    text-decoration-thickness: 5px; }

.grilla-nosotros {
  margin: 50px 100px 0px;
  display: grid;
  grid-template-areas: "texto foto";
  grid-template-columns: 40% auto;
  column-gap: 100px;
  align-items: center; }
  .grilla-nosotros .texto-nosotros {
    grid-area: texto;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 12pt;
    letter-spacing: 1.5pt;
    word-spacing: 2pt;
    line-height: 18pt;
    color: #243746; }
  .grilla-nosotros .foto-nosotros {
    grid-area: foto; }
    .grilla-nosotros .foto-nosotros .foto-guia {
      width: 100%;
      transition: all 1s; }
      .grilla-nosotros .foto-nosotros .foto-guia:hover {
        transform: scale(1.05); }
